CompileFlags:
  Add: [ "-std=c++17", "-Wall" ]
  Remove: [ "-Werror" ]
InlayHints:
  ParameterNames: true
  DeducedTypes: true
Diagnostics:
  ClangTidy:
    Checks: "modernize-*,performance-*"
    DisableChecks: "modernize-use-trailing-return-type